.buttonWrapper {
    min-width: 6rem;
    max-width: 14rem;
    height: 4rem;

    background-color: var(--strange-color3);
    color: var(--light-color);

    border-radius: 5px;
    border: none;

    cursor: pointer;

    transition: all 0.1s;
    padding: 0 1rem;

    z-index: 10;
}
.buttonText {
    font-size: large;
    font-weight: 500;
}
.buttonWrapper:hover {
    box-shadow: 0 0 2px 2px var(--light-color);
}

.buttonWrapper:disabled,
.buttonWrapper[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}