.questionWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.questionText {
    font-size: x-large;
}
.answers {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
    max-height: 450px;
    overflow-y: scroll;
}
.inputLabel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRadio {
    display: flex;
    margin-right: 1rem;
}
.inputRadio[type="radio"] {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputTitle {
    display: flex;
    flex-grow: 1;
}

.right {
    color: var(--success-color);
    transition: all 0.5s;
}
.mistake {
    color: var(--fail-color);
    transition: all 0.5s;

}

.answerComment{
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--success-color);
    animation: forwards normal 1s appearAnswerComment;
}
